body{
    background-color: #1c1d26;
}

#juanito{
    
    width: 70%;
    height: 55rem;
    border: #e44c65 solid;
}
#dado{
    position: absolute;
    right: 10%;
    bottom: 60%;
}
#btn{
    width: 10rem;
	height: 2rem;
    background-size: 100%;
	background-color: #e44c65;
    font-size: 20px;
	color: white;
	font-family: Arial;
    position: absolute;
    right: 10%;
    bottom: 50%;
	border-style: none;
	box-shadow: 0px 0px 8px black;
	text-decoration: none;
    text-align: center;
    line-height: 30px;
}

#btn:hover{
    box-shadow: 0px 0px 8px white;
}
.derecha{
    float: right;
    
}
#Pika{
    top: 0%;
    position: absolute;
    margin-top: 0px;
    left: 20rem;
}
#juanito p{
    padding-left: 1rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}
#tablero{
    padding-left: 2%;
    top: 45%;
    
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: white;
}



.derecha p{
    position: absolute;
    text-align: center;
    font-family: Arial;
    font-size: 30px;
    color: white;
    top: 0%;
    right: 10%;

}